<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.no5no3.microservices.english.mapper.RoleMapper">
    <select id="selectById" resultType="net.no5no3.microservices.english.model.Role">
        select * from role
        WHERE id = #{id}
    </select>
</mapper>